/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.error {
    color: #F14768;
    padding: 10px;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

