.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
    Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

a, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #424242;
    cursor: pointer;
}

.container {
    margin: 10px;
}

.margin-right {
    margin-right: 10px;
}
.mat-toolbar-row div a {    
    font-weight: lighter;
}